body{
    background-image:url(images/light-veneer.png)
}


h1 {
    font-size: 30px;
}
footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    height: 20px;
    margin-top:10px;
}



img{
    margin:auto;
}